@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AppState AppState
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            @if(user != null)
            {
                @if(user.Identity.IsAuthenticated && (user.IsInRole("CompanyOperator") || user.IsInRole("CompanyAdmin") || user.IsInRole("ServiceOperator") || user.IsInRole("Worker")) || user.IsInRole("SuperAdmin"))
                {
                @if(user.IsInRole("CompanyOperator") || user.IsInRole("CompanyAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="list">
                            <i class="fas fa-search-location"></i>
                            <span>Locations</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="modules/-1">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Module (test)</span></a>
                    </li>
                }
                @if(user.IsInRole("SuperAdmin") || user.IsInRole("CompanyAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="management">
                            <i class="fas fa-book-reader"></i>
                            <span>Management</span></a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="chats">
                        <i class="fas fa-comments"></i>
                        <span>Chats</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders">
                        <i class="fas fa-file-contract"></i>
                        <span>Orders</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">
                        <i class="fas fa-file-contract"></i>
                        <span>Profile</span></a>
                </li>
            }
            }
</ul>

@code {
    bool collapseNavMenu = true;
    System.Security.Claims.ClaimsPrincipal user = null; 
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        AppState.OnChange += RefreshUser;
    }

    async void RefreshUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        this.StateHasChanged();
    }
    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
